@import "../../common.css";

.collapseButton {
    background-color: var(--text-mid-light);
    border: 0.15rem inset rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    margin-top: 0.5em;
    transition: background-color 0.4s ease, border-radius 0.2s ease 0.2s;
    border-radius: 1em;
}

.collapseButton.active {
    background-color: var(--text-mid-dark);
    color: var(--text-light);
    transition: background-color 0.4s ease, border-radius 0.2s;
    border-radius: 1em 1em 0em 0em;
}

.collapseButton .arrow {
    transform: rotate(-90deg);
    transition: transform 0.4s ease;
}

.collapseButton.active .arrow {
    transform: rotate(0deg) translate(0%, 10%);
}

.collapseButton h4 {
    color: var(--text-dark);
    transition: color 0.4s ease;
}

.collapseButton.active h4 {
    color: var(--text-light);
}

.content {
    background-color: var(--background);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s linear, padding 0.2s;
    border-radius: 0em 0em 1em 1em;
    padding: 0em 0.5em;
    outline: 0.15rem inset rgba(0, 0, 0, 0.25);
    outline-offset: -0.15rem;
}

.content.active {
    max-height: 50em;
    padding: 0.5em 0.5em;
    transition: max-height 0.2s linear 0.2s, padding 0.2s linear 0.2s;
}