@import "../../common.css"; 

.moveOver {
    display: inline;
}

.date {
    font-style: italic;
    color: var(--text-mid-dark);
}

li::marker {
    color: var(--primary-dark);
}

.skillList {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .moveOver {
        display: block;
    }
}