@import "../../common.css"; 

.moveOver {
    display: inline;
}

.date {
    font-style: italic;
    color: var(--text-mid-dark);
}

li::marker {
    color: var(--primary-dark);
}

.skillList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0em 1em;
}

.contactCard .linkArea {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    gap: 0.5em;
}

@media (max-width: 600px) {
    .moveOver {
        display: block;
    }

    .skillList {
        grid-template-columns: 1fr;
    }
}