.contentBox {
    background-color: var(--content-background);
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em auto;
    filter: drop-shadow(0.3em 0.3em 0.2em rgba(0, 0, 0, 0.4));
    border: 0.2em solid var(--primary-dark);
    width: 100%;
    height: min-content;
    box-sizing: border-box;
}

.contentBox ul {
    list-style-type: square; 
}