@import "../../common.css"; 

.mainGrid {
    display: grid;
    grid-template: auto auto / 2fr 3fr;
    gap: 0em 1em;
}

.titleCard {
    display: grid;
    grid-area: 1 / 1 / span 1 / span 2;
    grid-template: 1fr / 1fr 3fr;
    background-image: url("code.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    
}

.left {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.left img {
    width: 16em;
    margin-bottom: -0.5em;
    margin-top: 1em;
    filter: drop-shadow(0.1em -0.2em 0.4em #353535);
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.right h1 {
    font-size: 4rem;
    font-family: 'Staatliches', Impact, Arial;
}

.right .textArea {
    background-color: rgba(255, 255, 255, 0.7);;
    border-radius: 0.5em;
}

.right hr {
    border: 0.3em inset var(--primary-light);
    background-color: var(--primary-light);
    border-radius: 0.5em;
}

.right .linkArea {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 0.5em;
}

.courseListing {
    width: 100%;
}

.courseListing td, th {
    text-align: left;
    padding: 0.1em 0.5em;
    line-height: 1.1em;
}

.courseListing .courseCode {
    width: 11ex;
    padding-right: 0;
    font-family: monospace;
    vertical-align: middle;
}

.courseListing tr:nth-child(even) {
    background-color: #EEEEEE;
}

.accordion.nopad .content {
    padding: 0 0;
}

.accordion.nopad .content.active {
    padding-bottom: 0.5em;
}

@media (max-width: 768px) {
    .titleCard {
        display: flex;
        flex-direction: column-reverse;
        grid-area: 1 / 1 / span 1 / span 1;
        background-size: cover;
    }

    .left img {
        width: 70vw;
    }

    .mainGrid {
        grid-template: auto auto auto / 1fr;
    }
}

@media (max-width: 600px) {
    .right h1 {
        font-size: 2.5rem;
    }

    .right h2 {
        font-size: 1.5rem;
    }
}