@import "../../common.css"; 

.gridContainer {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
}

.left {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.left img {
    width: 20vw;
    margin-bottom: -0.5em;
    margin-top: 1em;
    filter: drop-shadow(0.1em -0.2em 0.4em #353535);
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.right h1 {
    font-size: 4rem;
}

.right hr {
    border: 0.5em inset var(--primary-light);
}

@media (max-width: 768px) {
    .gridContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .left img {
        width: 70vw;
    }
}

@media (max-width: 600px) {
    .right h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .right h2 {
        font-size: 1.5rem;
    }
}