@import "../common.css";

html {
  font-size: 18px;
  background-color: var(--background);
}

main {
  margin-top: 3em;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

h1 {
    font-size: 2.125rem;
}

h2 {
  font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p, li {
  max-width: 85ch;
  line-height: 1.1em;
}

hr {
  border: 1px solid var(--primary-light);
}

ul {
  list-style-position: outside;
  margin-left: 1em;
}

@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}