@import "../../common.css";

nav {
    display: block;
    background-color: var(--primary);
    border-bottom: 0.2em solid var(--primary-dark);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    /* border-top: 0.2em solid var(--primary-dark); */
}

nav a {
    display: inline-block;
    padding: 0.8em 0.5em;
    color: var(--text-light);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-light);
    text-shadow: 0.1em 0.1em #333333;
    font-weight: bold;
}

nav a.active {
    font-weight: bold;
    background-color: var(--primary-dark);
    text-shadow: 0.1em 0.1em black;
    
}

nav h5 {
    display: inline;
    padding: 0.8em 0.5em; 
    font-weight: bold;
    color: var(--text-light);
    text-shadow: 0.1em 0.1em black;
}

.vl {
    display: inline-block;
    border-left: 4px solid var(--primary-dark);
    height: 2em;
    vertical-align: middle;
    transform: translateX(-2px);
}

@media only screen and (max-width: 600px) {
    nav h5 {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    nav a:hover:not(.active)::before {
        content: "./";
    }
    
    nav a:hover:not(.active)::after {
        content: ".sh";
    }
}