.mediaLink {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.2em 0.4em;
    margin-top: 0.5em;
    border-radius: 0.5em;
    border: 0.2em solid var(--primary-light);
    cursor: pointer;
    font-weight: bold;
}

.mediaLink:hover {
    border: 0.2em solid var(--primary-dark)
}

.mediaLink:hover p {
    text-decoration: underline;
}

.mediaLink img {
    width: 2em;
    height: 2em;
    padding-right: 0.3em;
}