:root {
    --primary: #2471A3;
    --primary-dark: #154360;
    --primary-light: #5499C7;
    --text-light: #FFFFFF;
    --text-mid-light: #AAAAAA;
    --text-mid-dark: #555555;
    --text-dark: #000000;
    --background: #DDDDDD;
    --content-background: #FFFFFF;
    /* --nav-bg: #283843;
    --nav-border: black; */
    --nav-bg: var(--primary);
    --nav-border: var(--primary-dark);
}

a {
    padding-top: 0.5em; padding-bottom: 0.5em;
    padding-right: 1em;
}

@media only screen and (max-width: 600px) {
    :root {
        --nav-bg: var(--primary);
        --nav-border: var(--primary-dark);
        --background: #DDDDDD;
    }
} 