@import "../../common.css";

.langIcon {
    width: 2em;
    height: 2em;
    padding: 0.5em 0.2em;
}

.date {
    font-style: italic;
    color: var(--text-mid-dark);
}

.description {
    padding: 0.5em 0em;
}